@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
   --fw-400: 400;
   --fw-700: 700;
   --orange: hsl(25, 97%, 53%);

   --white: hsl(0, 0%, 100%);
   --light-grey: hsl(217, 12%, 63%);
   --medium-grey: hsl(216, 12%, 54%);
   --dark-blue: hsl(213, 19%, 18%);
   --very-dark-blue: hsl(216, 12%, 8%);
   --trasition: opacity 0.3s ease-in-out, color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   font-size: 100%;
}

body {
   font-family: 'Overpass', sans-serif;
   font-size: 15px;
   line-height: 1.4;
   font-weight: var(--fw-400);
   background-color: var(--very-dark-blue);
   color: var(--white);
}

a,
button {
   display: inline-block;
   text-decoration: none;
   transition: var(--trasition);
   border: 0;
}

img {
   display: block;
   max-width: 100%;
}

p {
   margin-bottom: 1rem;
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   min-height: 100vh;
   overflow: hidden;
   position: relative;
   padding-inline: 15px;
}

.attribution {
   a {
      color: var(--white);

      &:hover {
         color: var(--orange);
      }
   }
   padding: 40px 0;
}

.card {
   position: relative;
   border-radius: 50px;
   background-color: var(--dark-blue);
   max-width: 380px;
   padding: 40px 35px;
   color: var(--light-grey);
   overflow: hidden;
   margin-bottom: auto;
   margin-top: auto;

   &-icon {
      --size: 40px;
      height: var(--size);
      width: var(--size);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
   }

   &-title {
      font-size: 24px;
      color: var(--white);
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 1;
   }

   .error-msg {
      color: rgb(188, 89, 89);
      font-size: 14px;
      padding-block: 10px;
      display: none;
   }

   &.error {
      .error-msg {
         display: block;
      }
   }
   &.active {
      .card-response {
         display: block;
      }
      .default-card {
         display: none;
      }
   }
}

.rating-list {
   display: flex;
   justify-content: space-between;
   list-style: none;
   align-items: center;
   margin-inline: -8px;
   margin-bottom: 30px;
   li {
      padding-inline: 8px;
   }

   a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: inherit;
      --size: 50px;
      height: var(--size);
      width: var(--size);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      line-height: 1;

      &:hover {
         color: var(--white);
         background-color: var(--orange);
      }

      &.active {
         background-color: var(--medium-grey);
         color: var(--white);
      }
   }
}

.btn {
   text-transform: uppercase;
   letter-spacing: 1px;
   color: var(--white);
   background-color: var(--orange);
   padding: 12px 20px;
   border-radius: 50px;
   font-weight: var(--fw-700);
   width: 100%;
   line-height: 1.2;
   text-align: center;
   font-size: 15px;

   &:hover {
      background-color: var(--white);
      color: var(--orange);
   }
}

.card-response {
   text-align: center;
   display: none;
   .card-img {
      max-width: 150px;
      margin-inline: auto;
      margin-bottom: 30px;
   }

   p {
      margin-bottom: 0;
   }
}

.rated {
   font-size: 13px;
   color: var(--orange);
   background-color: rgba(255, 255, 255, 0.1);
   display: inline-block;
   padding: 8px 12px;
   line-height: 1;
   border-radius: 60px;
   margin-bottom: 30px;
}

input[type='radio'] {
   appearance: none;
   -webkit-appearance: none;
   --size: 50px;
   height: var(--size);
   width: var(--size);
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   cursor: pointer;
   transition: var(--trasition);
   margin-bottom: 0;

   &:checked {
      background-color: var(--medium-grey);
      + span {
         color: var(--white);
      }
   }
}

label {
   display: flex;
   position: relative;
   span {
      position: absolute;
      line-height: 1;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      pointer-events: none;
      transition: var(--trasition);
   }
}
